<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('./partials/head'); %>
      <title>NG Task Admin</title>
  </head>
  <body>
    <%- include('./partials/side_navbar'); %>
      <!--Container Main start-->
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
          <p>Welcome to NG Task Admin Panel</p>
        </div>
      </div>
      <!--Container Main end-->
    <%- include('./partials/footer_link'); %>
  </body>
</html>