<%- include('../partial/header'); -%>
		<div
			class="flex items-center w-full px-5 py-3 text-xl font-semibold text-white border-t border-b gap-x-4 bg-primary border-primary"
		>
			<a href="/api/homePage">
				<i class="text-2xl bi bi-chevron-left"></i>
			</a>
			<p>About NGTask</p>
		</div>
		<div class="flex flex-col p-5">
			<div
				class="flex flex-col items-center p-5 text-center gap-y-5 bg-base-100 rounded-xl"
			>
				<p class="p-1 py-3 border-2 rounded-full">
					<img src="/img/logo.jpg" class="w-32" alt="" />
				</p>
				<p class="text-2xl font-semibold">NGTask</p>
				<p class="text-left xl:text-center">
					<%= website_info[0].about_info %>
				</p>
			</div>
		</div>
		<div class="flex flex-col p-5">
			<div
				class="flex flex-col items-center p-5 text-center gap-y-5 bg-base-100 rounded-xl"
			>
				<p class="text-2xl font-semibold">Help Line</p>
				<p>
					<%= website_info[0].contact_info %>
				</p>
				<div class="flex items-center gap-x-5">
					<button class="btn btn-primary">whatsapp</button>
					<button class="btn btn-primary-outline">telegram</button>
				</div>
			</div>
		</div>
	</body>
</html>
