<%- include('../partial/header'); -%>
		<div
			class="flex items-center w-full px-5 py-3 text-xl font-semibold text-white border-t border-b gap-x-4 bg-primary border-primary"
		>
			<a href="./index.html">
				<i class="text-2xl bi bi-chevron-left"></i>
			</a>
			<p>Deposit</p>
		</div>
		<div class="flex flex-col p-5 gap-y-5">
			<div class="p-5 font-medium bg-base-100 rounded-xl">
				Minimum deposit is 300BDT. If you deposit 2000BDT, you will get 500BDT
				extra bonus. Deposit will be successful in auto system.
			</div>
			<div class="flex flex-col p-5 font-medium bg-base-100 rounded-xl">
				<div class="flex items-center gap-x-3">
					<i class="text-2xl bi bi-dot"></i>
					<p>Bkash: 0123456789</p>
					<p class="p-2 py-0 text-white bg-green-500 rounded-xl">Copy</p>
				</div>
				<div class="flex items-center gap-x-3">
					<i class="text-2xl bi bi-dot"></i>
					<p>Nagad: 0123456789</p>
					<p class="p-2 py-0 text-white bg-green-500 rounded-xl">Copy</p>
				</div>
			</div>
			<div class="flex flex-col p-5 gap-x-2 bg-base-100 rounded-xl"></div>
		</div>
	</body>
</html>
