<%- include('../partial/header'); -%>
<div
class="lg:w-[60%] w-full px-5 lg:px-0 py-5 flex flex-col items-center mx-auto"
>
<img src="/img/logo.jpg" alt="" class="w-36" />
<h1 class="text-2xl font-semibold text-primary">Welcome</h1>
<form class="flex flex-col lg:w-[40%] w-full mt-16 gap-y-5" action="/api/login" method="POST">
	<% if(loginMessage){ %>
		<p class="massage p-2 bg-primary text-center">
			<%= loginMessage %>
		</p>
		<% } %>

		<div class="input-container">
			<label for="mobile">Mobile Number</label>
			<input type="tel" class="input" name="mobile" id="mobile" />
		</div>
	
		<div class="input-container">
			<label for="mobile">Password</label>
			<input type="password" class="input" name="password" id="password" />
		</div>
	
		<button
			type="submit"
			class="p-2 mt-5 uppercase duration-150 border border-gray-300 rounded-full hover:text-white hover:bg-primary hover:border-primary"
		>
			login
		</button>

</form>

<p class="mt-10 text-sm">Not registered yet?</p>
<a href="/api/registerPage" class="text-primary">Open New Acccount</a>
</div>
</body>
<script>
'use strict';
const inputLabels = document.querySelectorAll('.input-container label');
const inputFields = document.querySelectorAll('.input-container  .input');

inputFields.forEach((f, i) => {
f.addEventListener('focus', (e) => {
	f.parentElement.children[0].classList.add('label-hide');
});
f.addEventListener('blur', (e) => {
	// console.log(f.value);
	if (f.value === '') {
		f.parentElement.children[0].classList.remove('label-hide');
	}
});
});

inputLabels.forEach((l) => {
l.addEventListener('click', (e) => {
	l.parentElement.children[1].focus();
});
});
</script>
</html>