<%- include('../partial/header'); -%>
		<div
			class="flex items-center w-full px-5 py-3 text-xl font-semibold text-white border-t border-b gap-x-4 bg-primary border-primary"
		>
			<a href="/api/homePage">
				<i class="text-2xl bi bi-chevron-left"></i>
			</a>
			<p>Profile</p>
		</div>
		<div class="p-5">
			<div class="flex flex-col w-full bg-base-100 rounded-xl">
				<div
					class="p-5 text-xl font-semibold text-center border-b border-gray-100"
				>
					You're a Free User
				</div>
				<div class="flex items-center p-5 border-b border-gray-100">
					<div class="p-1 px-2 mr-3 text-white rounded-full bg-primary">
						<i class="bi bi-person-circle"></i>
					</div>
					<p class="mr-1">Name:</p>
					<p><%= profile[0].name %></p>
				</div>
				<div class="flex items-center p-5 border-b border-gray-100">
					<div class="p-1 px-2 mr-3 text-white rounded-full bg-primary">
						<i class="bi bi-telephone-fill"></i>
					</div>
					<p class="mr-1">Mobile Number:</p>
					<p><%= profile[0].mobile %></p>
				</div>
				<div class="flex items-center p-5 border-b border-gray-100">
					<div class="p-1 px-2 mr-3 text-white rounded-full bg-primary">
						<i class="bi bi-cash"></i>
					</div>
					<p class="mr-1">Balance:</p>
					<p><%= profile[0].balance %> BDT</p>
				</div>
				<div class="flex items-center p-5 border-b border-gray-100">
					<div class="p-1 px-2 mr-3 text-white rounded-full bg-primary">
						<i class="bi bi-briefcase-fill"></i>
					</div>
					<p class="mr-1">Task:</p>
					<p>0</p>
				</div>
			</div>
		</div>
	</body>
</html>
