<%- include('../partial/header'); -%>
		<div
			class="flex items-center w-full px-5 py-3 text-xl font-semibold text-white border-t border-b gap-x-4 bg-primary border-primary"
		>
			<a href="/api/homePage">
				<i class="text-2xl bi bi-chevron-left"></i>
			</a>
			<p>Refer</p>
		</div>
		<div class="flex flex-col px-5 my-10 text-center">
			<p>Your Refer Code:</p>
			<p class="text-xl text-primary"><%= refer[0].refer_code %></p>
		</div>
		<div class="px-5">
			<div class="flex py-2 mt-10 text-xl border-b border-gray-300 gap-x-2">
				<p>All Refer:</p>
				<p>0</p>
			</div>
		</div>
	</body>
</html>
