<%- include('../partial/header'); -%>
		<div
			class="flex items-center w-full px-5 py-3 text-xl font-semibold text-white border-t border-b gap-x-4 bg-primary border-primary"
		>
			<a href="./index.html">
				<i class="text-2xl bi bi-chevron-left"></i>
			</a>
			<p>My Task</p>
		</div>
		<div class="flex flex-col p-5 gap-y-5">
			<div class="p-5 font-medium bg-base-100 rounded-xl">
				You do not have any package. Please purchase a package to work.
			</div>
			<div class="p-5 font-medium bg-base-100 rounded-xl">
				You are now on the Gold package. You can see 6 ads per day. Earn 600BDT
				per day. Completed task: 0
			</div>
			<div class="flex p-5 gap-x-2 bg-base-100 rounded-xl">
				<div class="flex flex-col flex-grow gap-y-2">
					<p class="text-lg font-medium text-black">
						Come back after viewing the add
					</p>
					<p class="text-sm text-gray-500">Time: 5sec</p>
				</div>
				<div class="flex flex-col items-end w-[40%] gap-y-2">
					<p class="self-end text-xl font-medium">100BDT</p>
					<button class="p-2 text-white bg-primary rounded-xl w-fit">
						View Ads
					</button>
				</div>
			</div>
		</div>
	</body>
</html>
