<%- include('../partial/header'); -%>
		<div
			class="flex items-center w-full px-5 py-3 text-xl font-semibold text-white border-t border-b gap-x-4 bg-primary border-primary"
		>
			<a href="./index.html">
				<i class="text-2xl bi bi-chevron-left"></i>
			</a>
			<p>Transaction</p>
		</div>
		<div class="flex flex-col p-5">
			<div class="p-3 border border-gray-300 bg-base-100 rounded-xl">
				<div class="grid grid-cols-2">
					<div class="flex items-center gap-x-3">
						<p class="px-2 py-1 text-white bg-green-600 rounded-full">
							<i class="bi bi-arrow-right"></i>
						</p>
						<div class="flex flex-col">
							<p class="text-xl font-semibold">Deposit</p>
							<p class="text-green-600">Completed</p>
						</div>
					</div>
					<div class="flex flex-col items-end">
						<p class="text-xl font-semibold">500BDT</p>
						<p>12 Oct, 2023</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
