<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>NG Task Admin</title>
</head>
<body>

    <%- include('../partials/side_navbar'); %>


    <!--Container Main start-->
  

  <div class="container-fluid pt-4 px-4">
    <div class="row">
        <div class="">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Notice Add Form</h6>
                <form action="/admin/notice_add_post"  method="post" >
                  
                    <div class="row mb-3">
                        <label  class="col-sm-2 col-form-label">Notice</label>
                        <div class="col-sm-10">
                            <input 
                                type="text" 
                                class="form-control" 
                                id="notice" 
                                name="notice"
                            >
                        </div>
                    </div>


                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
                </form>
            </div>
        </div>
      
    </div>
  </div>
    
    <!--Container Main end-->

    <%- include('../partials/footer_link'); %>


    
    
</body>
</html>